@-webkit-keyframes animate-fade-in-down
{
   0% { -webkit-transform: translate(0px,-100px) rotate(0deg) ; opacity: 0;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-moz-keyframes animate-fade-in-down
{
   0% { -moz-transform: translate(0px,-100px) rotate(0deg) ; opacity: 0;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-o-keyframes animate-fade-in-down
{
   0% { -o-transform: translate(0px,-100px) rotate(0deg) ; opacity: 0;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-ms-keyframes animate-fade-in-down
{
   0% { -ms-transform: translate(0px,-100px) rotate(0deg) ; opacity: 0;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@keyframes animate-fade-in-down
{
   0% { transform: translate(0px,-100px) rotate(0deg) ; opacity: 0;  }
   100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-webkit-keyframes animate-fade-in-left
{
   0% { -webkit-transform: translate(-100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-moz-keyframes animate-fade-in-left
{
   0% { -moz-transform: translate(-100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-o-keyframes animate-fade-in-left
{
   0% { -o-transform: translate(-100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-ms-keyframes animate-fade-in-left
{
   0% { -ms-transform: translate(-100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@keyframes animate-fade-in-left
{
   0% { transform: translate(-100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-webkit-keyframes animate-fade-in-right
{
   0% { -webkit-transform: translate(100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-moz-keyframes animate-fade-in-right
{
   0% { -moz-transform: translate(100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-o-keyframes animate-fade-in-right
{
   0% { -o-transform: translate(100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-ms-keyframes animate-fade-in-right
{
   0% { -ms-transform: translate(100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@keyframes animate-fade-in-right
{
   0% { transform: translate(100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-webkit-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-moz-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-o-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-ms-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-webkit-keyframes push
{
   0% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   50% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(0.8,0.8,0.8) ;  }
   100% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-moz-keyframes push
{
   0% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   50% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(0.8,0.8,0.8) ;  }
   100% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-o-keyframes push
{
   0% { -o-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   50% { -o-transform: perspective(1px) rotateX(0deg) scale3d(0.8,0.8,0.8) ;  }
   100% { -o-transform: perspective(1px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-ms-keyframes push
{
   0% { -ms-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   50% { -ms-transform: perspective(1px) rotateX(0deg) scale3d(0.8,0.8,0.8) ;  }
   100% { -ms-transform: perspective(1px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes push
{
   0% { transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   50% { transform: perspective(1px) rotateX(0deg) scale3d(0.8,0.8,0.8) ;  }
   100% { transform: perspective(1px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-webkit-keyframes slide-out-blurred-bottom
{
   0% { -webkit-transform: rotate(0deg) ; filter: blur(0); opacity: 1.0; -webkit-transform-origin: 50% 50%;  }
   100% { -webkit-transform: translate(0px,1000px) rotate(0deg) scale(0.2,2.5) ; filter: blur(40px); opacity: 0.0; -webkit-transform-origin: 50% 100%;  }
}
@-moz-keyframes slide-out-blurred-bottom
{
   0% { -moz-transform: rotate(0deg) ; filter: blur(0); opacity: 1.0; -moz-transform-origin: 50% 50%;  }
   100% { -moz-transform: translate(0px,1000px) rotate(0deg) scale(0.2,2.5) ; filter: blur(40px); opacity: 0.0; -moz-transform-origin: 50% 100%;  }
}
@-o-keyframes slide-out-blurred-bottom
{
   0% { -o-transform: rotate(0deg) ; filter: blur(0); opacity: 1.0; -o-transform-origin: 50% 50%;  }
   100% { -o-transform: translate(0px,1000px) rotate(0deg) scale(0.2,2.5) ; filter: blur(40px); opacity: 0.0; -o-transform-origin: 50% 100%;  }
}
@-ms-keyframes slide-out-blurred-bottom
{
   0% { -ms-transform: rotate(0deg) ; filter: blur(0); opacity: 1.0; -ms-transform-origin: 50% 50%;  }
   100% { -ms-transform: translate(0px,1000px) rotate(0deg) scale(0.2,2.5) ; filter: blur(40px); opacity: 0.0; -ms-transform-origin: 50% 100%;  }
}
@keyframes slide-out-blurred-bottom
{
   0% { transform: rotate(0deg) ; filter: blur(0); opacity: 1.0; transform-origin: 50% 50%;  }
   100% { transform: translate(0px,1000px) rotate(0deg) scale(0.2,2.5) ; filter: blur(40px); opacity: 0.0; transform-origin: 50% 100%;  }
}
@-webkit-keyframes transform-wobble
{
   0% { -webkit-transform: rotate(0deg) ;  }
   15% { -webkit-transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { -webkit-transform: translate(20%,0px) rotate(3deg) ;  }
   45% { -webkit-transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { -webkit-transform: translate(10%,0px) rotate(2deg) ;  }
   75% { -webkit-transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-wobble
{
   0% { -moz-transform: rotate(0deg) ;  }
   15% { -moz-transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { -moz-transform: translate(20%,0px) rotate(3deg) ;  }
   45% { -moz-transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { -moz-transform: translate(10%,0px) rotate(2deg) ;  }
   75% { -moz-transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-o-keyframes transform-wobble
{
   0% { -o-transform: rotate(0deg) ;  }
   15% { -o-transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { -o-transform: translate(20%,0px) rotate(3deg) ;  }
   45% { -o-transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { -o-transform: translate(10%,0px) rotate(2deg) ;  }
   75% { -o-transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-ms-keyframes transform-wobble
{
   0% { -ms-transform: rotate(0deg) ;  }
   15% { -ms-transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { -ms-transform: translate(20%,0px) rotate(3deg) ;  }
   45% { -ms-transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { -ms-transform: translate(10%,0px) rotate(2deg) ;  }
   75% { -ms-transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-wobble
{
   0% { transform: rotate(0deg) ;  }
   15% { transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { transform: translate(20%,0px) rotate(3deg) ;  }
   45% { transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { transform: translate(10%,0px) rotate(2deg) ;  }
   75% { transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
a.style1
{
   color: #00807F;
   text-decoration: underline;
}
a.style1:visited
{
   color: #800080;
   text-decoration: underline;
}
a.style1:active
{
   color: #FF0000;
   text-decoration: underline;
}
a.style1:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
